<!--activityRecordsController-->
<div ng-controller='mainController'>

    <!--main-container-->
    <div class="main-container main-container-activity" ng-enter="false">

        <!--row-->
        <div class="row">

            <!--col-left-->
            <div class="col-xs-3">

                <!--aside-->
                <div class="aside">

                    <!--filter-->
                    <div class="filters">

                        <!--form-->
                        <form>

                            <!--fieldset-->
                            <fieldset>

                                <!--filters-scroll-->
                                <div class="filters-scroll">

                                    <!--ServiceTracker ID-->
                                    <div class="form-group form-group-section">

                                        <!--control-label-->
                                        <label class="control-label">
                                            <span class="glyphicon glyphicon-search"></span> Payload (search all messages joined by ActiveMQ ID):
                                        </label>
                                        <!--/control-label-->

                                        <!--form-group-->
                                        <div class="form-group">

                                            <!--row-->
                                            <div class="row">

                                                <!--col-->
                                                <div class="col-xs-11">

                                                    <input
                                                        ng-disabled="$root.isFilterLoading"
                                                        class="form-control input-sm"
                                                        type="text"
                                                        ng-model="filters.Payload"
                                                        ng-change="setFilterDebounced()"
                                                        tabindex="4">

                                                </div>
                                                <!--/col-->

                                                <!--col-->
                                                <div class="col-xs-1 text-center">

                                                    <a

                                                        ng-click="clear('Payload')"
                                                        class="control-remove"
                                                        tabindex="-1">
                                                        <span class="glyphicon glyphicon-remove-2"></span>
                                                    </a>

                                                </div>
                                                <!--/col-->

                                            </div>
                                            <!--/row-->

                                        </div>
                                        <!--/form-group-->

                                    </div>
                                    <!--/ServiceTracker ID-->

                                    <!--activemq_id -->
                                    <div class="form-group form-group-section">

                                        <!--control-label-->
                                        <label class="control-label">
                                            <span class="glyphicon glyphicon-search"></span> Message Id:
                                        </label>
                                        <!--/control-label-->

                                        <!--form-group-->
                                        <div class="form-group">

                                            <!--row-->
                                            <div class="row">

                                                <!--col-->
                                                <div class="col-xs-11">

                                                    <input
                                                        ng-disabled="$root.isFilterLoading"
                                                        class="form-control input-sm"
                                                        type="text"
                                                        ng-model="filters.MessageId"
                                                        ng-change="setFilterDebounced()"
                                                        tabindex="4">

                                                </div>
                                                <!--/col-->

                                                <!--col-->
                                                <div class="col-xs-1 text-center">

                                                    <a

                                                        ng-click="clear('MessageId')"
                                                        class="control-remove"
                                                        tabindex="-1">
                                                        <span class="glyphicon glyphicon-remove-2"></span>
                                                    </a>

                                                </div>
                                                <!--/col-->

                                            </div>
                                            <!--/row-->

                                        </div>
                                        <!--/form-group-->

                                    </div>
                                    <!--/activemq_id-->


                                    <!--message_text -->
                                    <div class="form-group form-group-section">

                                        <!--control-label-->
                                        <label class="control-label">
                                            <span class="glyphicon glyphicon-search"></span> Message Text:
                                        </label>
                                        <!--/control-label-->

                                        <!--form-group-->
                                        <div class="form-group">

                                            <!--row-->
                                            <div class="row">

                                                <!--col-->
                                                <div class="col-xs-11">

                                                    <input
                                                        ng-disabled="$root.isFilterLoading"
                                                        class="form-control input-sm"
                                                        type="text"
                                                        ng-model="filters.message_text"
                                                        ng-change="setFilterDebounced()"
                                                        tabindex="4">

                                                </div>
                                                <!--/col-->

                                                <!--col-->
                                                <div class="col-xs-1 text-center">

                                                    <a

                                                        ng-click="clear('message_text')"
                                                        class="control-remove"
                                                        tabindex="-1">
                                                        <span class="glyphicon glyphicon-remove-2"></span>
                                                    </a>

                                                </div>
                                                <!--/col-->

                                            </div>
                                            <!--/row-->

                                        </div>
                                        <!--/form-group-->

                                    </div>
                                    <!--/message_text-->

                                    <!--destination -->
                                    <div class="form-group form-group-section">

                                        <!--control-label-->
                                        <label class="control-label">
                                            <span class="glyphicon glyphicon-search"></span> Destination:
                                        </label>
                                        <!--/control-label-->

                                        <!--form-group-->
                                        <div class="form-group">

                                            <!--row-->
                                            <div class="row">

                                                <!--col-->
                                                <div class="col-xs-11">

                                                    <input
                                                        ng-disabled="$root.isFilterLoading"
                                                        class="form-control input-sm"
                                                        type="text"
                                                        ng-model="filters.QueueName"
                                                        ng-change="setFilterDebounced()"
                                                        tabindex="4">

                                                </div>
                                                <!--/col-->

                                                <!--col-->
                                                <div class="col-xs-1 text-center">

                                                    <a
                                                        ng-click="clear('QueueName')"
                                                        class="control-remove"
                                                        tabindex="-1">
                                                        <span class="glyphicon glyphicon-remove-2"></span>
                                                    </a>

                                                </div>
                                                <!--/col-->

                                            </div>
                                            <!--/row-->

                                        </div>
                                        <!--/form-group-->

                                    </div>
                                    <!--/destination-->


                                    <!--date-->
                                    <div class="form-group form-group-section">

                                        <!--control-label-->
                                        <label class="control-label">
                                            <span class="glyphicon glyphicon-clock"></span> Date:
                                        </label>
                                        <!--/control-label-->

                                        <div class="form-group-wrap">

                                            <!--form-group_DateFrom-->
                                            <div class="form-group">

                                                <!--row-->
                                                <div class="row">

                                                    <!--col-->
                                                    <div class="col-xs-11">

                                                        <!--form-horizontal-->
                                                        <div class="form-horizontal">

                                                            <!--form-group-->
                                                            <div class="form-group">

                                                                <!--control-label-->
                                                                <label class="control-label col-xs-3">From:</label>
                                                                <!--/control-label-->

                                                                <!--col-->
                                                                <div class="col-xs-9">

                                                                    <!--input-group-->
                                                                    <div class="input-group input-group-sm">
                                                                        <!--input-->

                                                                        <input inputmask-date
                                                                                type="text"
                                                                                class="form-control input-sm"
                                                                                ng-model="filters.Date"
                                                                                tabindex="6"
                                                                                ng-change="setFilterDebounced()"
                                                                                mask="yyyy/mm/dd"/>

                                                                    </div>
                                                                    <!--/input-group-->

                                                                </div>
                                                                <!--/col-->

                                                            </div>
                                                            <!--/form-group-->

                                                        </div>
                                                        <!--/form-horizontal-->

                                                    </div>
                                                    <!--/col-->

                                                    <!--col-->
                                                    <div class="col-xs-1 text-center">

                                                        <a
                                                            ng-click="clear('Date')"
                                                            class="control-remove"
                                                            tabindex="-1">
                                                            <span class="glyphicon glyphicon-remove-2"></span>
                                                        </a>

                                                    </div>
                                                    <!--/col-->

                                                </div>
                                                <!--/row-->

                                            </div>
                                            <!--date_time-->

                                        </div>

                                    </div>
                                    <!--/activity date-->

                                    <!--status-->
                                    <div class="form-group form-group-section form-group-status">

                                        <!--control-label-->
                                        <label class="control-label">
                                            <span class="glyphicon glyphicon-exportfile"></span> Status:
                                        </label>
                                        <!--/control-label-->

                                        <!--form-group-->
                                        <div class="form-group">

                                            <!--radio-->
                                            <div class="radio">
                                                <label>
                                                    <input
                                                        ng-model="filters.ProcessingStatus"
                                                        ng-change="clear('ProcessingStatus')"
                                                        type="radio"
                                                        name="status-select"
                                                        ng-checked="true"
                                                        value=""
                                                        tabindex="8">
                                                    <span tooltip="All">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                        All
                                                    </span>
                                                </label>
                                            </div>
                                            <!--/radio-->

                                            <!--radio-->
                                            <div class="radio">
                                                <label>
                                                    <input
                                                        ng-model="filters.ProcessingStatus"
                                                        type="radio"
                                                        ng-change="setFilterDebounced()"
                                                        name="status-select"
                                                        value="S"
                                                        tabindex="9">
                                                    <span tooltip="Sent">
                                                        <span class="glyphicon glyphicon-busy"></span>
                                                        Sent
                                                    </span>
                                                </label>
                                            </div>
                                            <!--/radio-->

                                            <!--radio-->
                                            <div class="radio">
                                                <label>
                                                    <input
                                                        ng-model="filters.ProcessingStatus"
                                                        type="radio"
                                                        ng-change="setFilterDebounced()"
                                                        name="status-select"
                                                        value="R"
                                                        tabindex="10">
                                                    <span tooltip="Recieve">
                                                        <span class="glyphicon glyphicon-exportfile"></span>
                                                        Get
                                                    </span>
                                                </label>
                                            </div>
                                            <!--/radio-->

                                            <!--radio-->
                                            <div class="radio">
                                                <label>
                                                    <input
                                                        ng-model="filters.ProcessingStatus"
                                                        type="radio"
                                                        ng-change="setFilterDebounced()"
                                                        name="status-select"
                                                        value="D"
                                                        tabindex="11">
                                                    <span tooltip="DLQ">
                                                        <span class="glyphicon glyphicon-clock"></span>
                                                        DLQ
                                                    </span>
                                                </label>
                                            </div>
                                            <!--/radio-->

                                        </div>
                                        <!--/form-group-->

                                    </div>
                                    <!--/status-->

                                </div>
                                <!--/filters-scroll-->

                            </fieldset>
                            <!--fieldset-->

                        </form>
                        <!--/form-->

                    </div>
                    <!--/filter-->

                </div>
                <!--/aside-->

            </div>
            <!--/col-left-->

            <!--col-right-->
            <div class="col-xs-9">

                <!--grid-->
                <div class="grid grid-activityRecord">

                    <!--grid-heading-->
                    <div class="grid-heading">

                        <div class="grid-cols-row">

                            <!--employee-->
                            <div class="grid-col-employee"
                                 ng-click="changeDirectionFor('employee')"
                                 ng-class="{ 'sort': true, 'sort-down': sortPredicate('asc', 'employee'), 'sort-up': sortPredicate('desc', 'employee') }">
                                ActiveMQ ID
                            </div>
                            <!--/employee-->

                            <!--scheduledDuration-->
                            <div class="grid-col-shDuration text-center">
                                Text
                            </div>
                            <!--/scheduledDuration-->

                            <!--visitEnd-->
                            <div class="grid-col-visitEnd">
                                Date
                            </div>
                            <!--/visitEnd-->

                            <!--duration-->
                            <div class="grid-col-duration"
                                ng-click="changeDirectionFor('duration')"
                                ng-class="{ 'sort': true, 'sort-down': sortPredicate('asc', 'duration'), 'sort-up': sortPredicate('desc', 'duration') }">
                                Destination
                            </div>
                            <!--/duration-->



                            <!--status>
                            <div class="grid-col-alerts">
                                Origin
                            </div>
                            <!--/status>

                            <!--status>
                            <div class="grid-col-alerts">
                                Sender ID
                            </div>
                            <!--/status-->
                        </div>
                        <!--/client name-->

                    </div>
                    <!--grid-heading-->

                    <!--grid-body-->
                    <div class="grid-body">

                        <!--grid-body-scroll-->
                        <div class="grid-body-scroll" ui-scroll-viewport>

                            <!--grid-cols-row-->
                            <a
                                class="grid-cols-row"
                                ui-scroll="msg in messages"
                                buffer-size="50"
                                >
                                <!--status-->
                                <span class="grid-col-status text-center">

                                    <span
                                        ng-show=" msg.ProcessingStatus == 'S'"
										tooltip="Sent"
                                        class="glyphicon glyphicon-busy">
                                    </span>

                                    <span
                                        ng-show=" msg.ProcessingStatus == 'R'"
                                        tooltip="Recieve"
                                        class="glyphicon glyphicon-exportfile">
                                    </span>

                                    <span
                                        ng-show=" msg.ProcessingStatus == 'D' "
										tooltip="DLQ"
                                        class="glyphicon glyphicon-clock">
                                    </span>

                                    <span
                                        ng-show=" msg.ProcessingStatus != 'S' &&  msg.ProcessingStatus != 'R' && msg.ProcessingStatus != 'D' "
                                        tooltip="Application"
                                        class="glyphicon glyphicon-user">
                                    </span>
                                                                        
                                </span>
                                <!--/status-->

                                <!--employee-->
                                <span class="grid-col-employee">
                                    <span
                                        class="nowrap"
                                        tooltip="{{msg.MessageId}}"
                                        ng-show="msg.MessageId">
                                        {{msg.MessageId}}
                                    </span>
                                </span>
                                <!--/employee-->

                                <!--servicetracker_id-->
                                <span class="grid-col-employee">
                                    <span
                                        class="nowrap"
                                        tooltip="{{msg.Payload}}"
                                        ng-show="msg.Payload">
                                        {{msg.Payload}}
                                    </span>
                                </span>
                                <!--/servicetracker_id-->


                                <!--date_time-->
                                <span class="grid-col-client">
                                     <span
                                         class="nowrap"
                                         tooltip="{{msg.Date}}"
                                         ng-show="msg.Date">
                                         {{msg.Date }}
                                     </span>
                                </span>
                                <!--/date_time-->


                                <!--destination-->
                                <span class="grid-col-client">
                                     <span
                                         class="nowrap"
                                         tooltip="{{msg.QueueName}}"
                                         ng-show="msg.QueueName">
                                         {{msg.QueueName }}
                                     </span>
                                </span>
                                <!--/destination-->  

                                <!--message_text>
                                <span class="grid-col-client">
                                     <span
                                         class="nowrap"
                                         ng-show="msg.origin">
                                         {{msg.origin }}
                                     </span>
                                </span>
                                <!--/message_text>        

                                <!--message_text>
                                <span class="grid-col-client">
                                     <span
                                         class="nowrap"
                                         ng-show="msg.sender_id">
                                         {{msg.sender_id }}
                                     </span>
                                </span>
                                <!--/message_text-->        



                            </a>
                            <!--/grid-cols-row-->

                        </div>
                        <!--/grid-body-scroll-->

                    </div>
                    <!--/grid-body-->

                </div>
                <!--/grid-->

            </div>
            <!--/col-right-->

        </div>
        <!--/row-->

    </div>
    <!--main-container-->

    <!--loader-->
    <div class="loader-overlay" ng-show="$root.isFilterLoading || isGridLoading">
        <div class="loader"></div>
    </div>
    <!-- {{ $root.isFilterLoading }} -->
    <!--/loader-->

</div>
<!--/activityRecordsController-->







